<% @posts.each do |post| %>
	<h1><%= link_to post.title, url_to(post) %></h1>
	<p><%= post.preface %></p>
<% end %>

<% if current_user.is_admin? %>
	<%= link_to "New post", url(:new_post) %> 
<% end %>